body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9c5c8;
    margin: 0;
}

.container {
    text-align: center;
}

.envelope {
    position: relative;
    width: 200px;
    height: 150px;
}

.top {
    position: absolute;
    width: 200px;
    height: 75px;
    background: #e57373;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transition: transform 0.5s;
}

.body {
    position: absolute;
    width: 200px;
    height: 150px;
    background: #ff8a80;
    top: 25px;
}

.flap {
    position: absolute;
    width: 200px;
    height: 75px;
    background: #e57373;
    top: 75px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.letter {
    position: absolute;
    width: 180px;
    height: 120px;
    background: white;
    top: 10px;
    left: 10px;
    transition: transform 0.5s;
    z-index: -1; /* Garante que a carta ficará atrás do envelope */
}

.hearts {
    text-align: center;
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background: #e57373;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #c62828;
}
